.container-pro{
    display: flex;
    align-items: center;
    flex-direction: row;
    max-width: 100vw;
    gap: 100px;
    padding-left: 6.5rem;
    padding-right: 6rem;
    justify-content: space-between;
    overflow-x: scroll;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

@media  (min-width:869px) {
    .container-pro{
        padding-left: 0;
        padding-right: 0;
    }
}


  