:root {
    --color-rich-black: #0d1321;
    --letter-color: #1d2d44;
    --color-shadow-blue: #748cab;
    --color-eggshell: #f0ebd8;
    --color-black: #010101;
    --border-color: #3e5c76;
    --highlight-color: #dbd4b1;
}

/* Chrome e outros */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
.login-container input[type="number"] {
    -moz-appearance: textfield;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-size: 13.5px;
}
::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 13.5px;
}
:-ms-input-placeholder {
    /* IE 10+ */
    font-size: 13.5px;
}
:-moz-placeholder {
    /* Firefox 18- */
    font-size: 13.5px;
}

body {
    background-color: var(--color-eggshell);
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.login-container .in-text-pass {
    width: 30rem;
    height: 2rem;
    border: 1px solid black;
    padding: 1.1rem;
    color: rgb(0, 0, 0);
    border-radius: 12px;
    background-color: whitesmoke;
    padding: 15px;
}

.login-container .space {
    margin-top: 20px;
}

.login-container p {
    font-weight: 500;
}

.login-container button {
    border: none;
    width: 12rem;
    height: 3rem;
    background-color: var(--color-rich-black);
    color: white;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.7s ease-in-out;
    font-size: 2rem;
}

.login-container button:hover {
    background-color: var(--border-color);
    transition: 0.7s ease-in-out;
}

.login-container a {
    text-decoration: none;
    background-color: rgb(16 16 107);
    color: white;
    padding: 3px;
    border-radius: 4px;
    font-weight: bolder;
}

::placeholder {
    text-align: center;
    color: black;
}

.login-container .link-style {
    color: black;
    margin-top: 10px;
    border: 1px solid black;
    background-color: var(--highlight-color);
    transition: 2s cubic-bezier() ease-in;
    padding: 10px;
}

.login-container .link-style:hover {
    border: 1px solid black;
    background-color: #000000;
    color: rgb(255, 255, 255);
    transition: 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);
}

@media (max-width: 280px) {
    ::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        font-size: 12px;
    }
    ::-moz-placeholder {
        /* Firefox 19+ */
        font-size: 12px;
    }
    :-ms-input-placeholder {
        /* IE 10+ */
        font-size: 12px;
    }
    :-moz-placeholder {
        /* Firefox 18- */
        font-size: 12px;
    }

    .loginbtn {
        width: 30%;
    }

    ::placeholder {
        text-align: center;
        color: white;
    }
}

@media (max-width: 769px) {
    ::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        font-size: 12px;
    }
    ::-moz-placeholder {
        /* Firefox 19+ */
        font-size: 12px;
    }
    :-ms-input-placeholder {
        /* IE 10+ */
        font-size: 12px;
    }
    :-moz-placeholder {
        /* Firefox 18- */
        font-size: 12px;
    }

    .login-container .in-text-pass {
        width: 25rem;
        height: 1.5rem;
        transition: 1s cubic-bezier(0.47, 0, 0.745, 0.715);
    }

    button {
        width: 6.5rem;
    }
}
