.produtos__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 480px;
  margin: 10px;
}

.produtos {
  display: flex;
  flex-direction: column;

  align-items: center;
  width: 270px;
  height: 480px;
  padding: 10px;
  border-radius: 20px;
  font-size: 115%;

  background-color: var(--bg-produtos);
  -webkit-box-shadow: 3px 9px 16px 1px rgba(0, 0, 0, 0.45);
  box-shadow: 3px 9px 16px 1px rgba(0, 0, 0, 0.45);
  transition: all 0.3s;
}

.produtos:hover {
  cursor: pointer;
}

.produtos__top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.produtos__top svg {
  align-self: flex-end;
  font-size: 2rem;
}

.produtos__img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.produtos__img img {
  width: 170px;
}

.produtos__info {
  height: 102px;
  margin-bottom: 10px;
}
.produtos__info small {
  font-size: 1.2rem;
}
.produtos__info b {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.produtos__info p {
  padding: 5px 0;
}
.produtos__trademark {
  font-size: 1.3rem;
}
.produtos__offer-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
}
.produtos__juros {
  margin-bottom: 10px;
}
.produtos__rating {
  display: flex;
  justify-content: space-between;
}
.produtos__rating div {
  display: flex;
  align-items: center;
  height: 16px;
  font-size: 1.3rem;
}
.produtos__stars {
  display: flex;
  justify-content: space-between;
  width: 50%;
}
.produtos__totalRating {
  width: 45%;
}
.produtos__totalRating i {
  font-size: 1rem;
}

.produtos__button {
  margin-top: 5px;
  border-radius: 20px;
  width: 100%;
}

.default {
  background-color: transparent;
  height: 100%;
  width: 100%;
}
.default:hover {
  opacity: 1;
}

.produtos__out-of-stock {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 270px;
  height: 480px;
  z-index: 2;
}

.produtos__out-of-stock:hover b {
  height: 100%;
  width: 100%;
  opacity: 0.8;
  border-radius: 20px;
}

.produtos__out-of-stock b {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  text-align: center;
  width: 100%;
  background-color: var(--bg-out-of-stock);
  color: var(--letter-out-of-stock);
  opacity: 1;
  transition: all 0.3s;
}

@media (min-width: 770px) {
  .produtos {
    width: 300px;
    height: 530px;
    padding: 10px;
  }

  .produtos__top img {
    width: 210px;
  }

  .produtos__container {
    width: 310px;
    height: 540px;
  }
  .produtos:hover {
    transform: scale(1.05);
  }
  .produtos__out-of-stock {
    width: 310px;
    height: 540px;
  }
}
