.categories {
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-weight: bold;
}

.categories li:hover {
  cursor: pointer;
}
