.banner {
    padding-top: 50px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 310px;

    /* background-image: url("/public/img/banners/banner_ilustrativo3.png"); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    border-bottom: var(--border-color) solid 1px;
}

.banner__top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.banner__img {
    align-self: center;
    width: 7rem;
    height: 7rem;
}

.banner__top h2 {
    font-size: 3rem;
    font-weight: bold;
}

.banner__bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.banner-bottom input {
    cursor: pointer;
}

.banner__icon {
    height: 4rem;
    font-size: 1.8rem;
}

.banner__icon svg {
    font-size: 2.5rem;
    animation: slide-bottom 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s infinite both;
}

@media (min-width: 770px) {
    .banner {
        height: 500px;
    }
}

@keyframes slide-bottom {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(1rem);
        opacity: 0.3;
    }
}
