#title {
  font-size: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
}

.name {
  font-weight: bold;
  text-align: center;
  display: block;
  width: 80%;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide img {
  display: block;
  width: 80%;
  height: 80%;
  object-fit: cover;
}

.swiper-slide img:hover {
  transform: scale(1.03);
  cursor: pointer;
}

.swiper-button-prev,
.swiper-button-next {
  color: var(--primary-color);
}

@media (max-width: 770px) {
  .swiper-button-prev,
  .swiper-button-next {
    opacity: 0;
    position: fixed;
    width: 0;
  }

  .swiper-slide img {
    width: 120%;
    height: 120%;
  }

  .name-categories {
    width: 120%;
  }
}
